@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

.heading {
  width: 100%;
  text-align: center;
  position: relative;
  top: 20%;
}

.heading h1 {
  /* text-transform: uppercase; */
  display: block;
  color: #1d7087;
  font-size: 3.2rem;
}

.heading span {
  text-transform: capitalize;
  color: #44a3f7;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  letter-spacing: -3px;
  font-style: italic;
}

.heading h4 {
  display: block;
  font-size: 1.3rem;
  margin-top: 10px;
}

.dashboard-container {
  position: relative;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

/* From Uiverse.io by vinodjangid07 */
.Btn {
  position: absolute;
  display: flex;
  right: 2%;
  bottom: 6%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #4887be;
  font-family: "Poppins";
  /* text-transform: uppercase; */
  color: white;
  font-weight: 400;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 5px 5px 0px #28557d;
  transition-duration: 0.3s;
}

.svg {
  width: 16px;
  position: absolute;
  right: 0;
  margin-top: 6px;
  margin-right: 20px;
  fill: white;
  transition-duration: 0.3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

.Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px #28557d;
}
.dashboard-content {
  position: relative;
  display: flex;
  width: 55%;
  height: 100%;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  /* border: 1px solid black; */
  border-radius: 14px;
  background-color: #fff;
  padding: 30px 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.line-divider {
  height: 0.5px;
  width: 100%;
  background-color: #8f8f8f;
}

.line-divider-two {
  width: 1px;
  height: 73px;
  background-color: #8f8f8f;
}

.row-1-content {
  display: block;
}

.row-1-content h3,
.row-2-content h3 {
  color: #1a8cf0;
}

.row-1-content h3 {
  font-size: 1.9rem;
  margin-bottom: 10px;
}

.row-2-content h3 {
  font-size: 1.3rem;
}

.row-1-content p {
  color: #2f2f2f;
  font-size: 1.1rem;
}

.row-2-content p {
  color: #2f2f2f;
  font-size: 1rem;
}

.row-2-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
}

.content-2-holder {
  flex: 1 1 200px;
  min-width: 150px;
}

.dashboard-chart-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  background: #fff;
  padding: 30px;
  border-radius: 14px;
  width: 55%;
  height: 100%;
  margin: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.chart-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 45%;
  min-width: 250px;
}

.chart-box h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #0275d8;
}

canvas {
  max-height: 280px;
  width: 100%;
}

.center-label {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: bold;
  color: #333;
  pointer-events: none;
  user-select: none;
}

.doughnut-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.notif-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 330px;
  background-color: #6597c6;
  border-radius: 17px;
  padding: 20px;
  color: #fff;
  overflow: hidden;
}

.notif-content-area {
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
  padding-right: 5px;
}

.notif-content-area::-webkit-scrollbar {
  /* display: none; */
  width: 6px;
}

.notif-content-area::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.notif-content-area::-webkit-scrollbar-track {
  background-color: transparent;
}

.notif-header {
  margin-bottom: 10px;
  flex-shrink: 0;
}

.notif-header h4 {
  font-size: 1.7rem;
}

.notif-content {
  background-color: #89cbe17a;
  padding: 10px 15px;
  border-radius: 10px;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 10px;
}
