@font-face {
  font-family: "Glitten";
  src: url("../../fonts/glitten/Glitten-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5fc3df;
  border-radius: 10px;
}

body {
  width: 100vw;
  min-height: 100svh;
  background-color: #ddf2fd;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  /* padding: 10px; */
  padding-bottom: 80px;
}

.spacer-top {
  position: relative;
  padding: 60px;
}

/* Nav Section */
nav {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #4986c7;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 2em;
  gap: 10px;
}

nav .logo {
  margin-right: auto;
}

.logo img {
  font-family: "Glitten", sans-serif;
  text-transform: none;
  letter-spacing: 1px;
  width: 100px;
  color: #ffffff;
  text-shadow: 0 0 10px #000;
}

.logout {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-red: #e83333;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 7px rgba(227, 46, 46, 0.862);
  background-color: var(--af-red);
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
  transform: translateY(3px);
}

.sign svg path {
  fill: var(--ch-white);
}
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--ch-white);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
.logout:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.logout:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
.logout:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
.logout:active {
  transform: translate(2px, 2px);
}
.button {
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 15px;
  background-color: #f3f3f3;
  border-radius: 5px;
  color: #141414;
  border: none;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 0.2s;
}

.bell {
  width: 16px;
  transform: translateY(3px);
}

.bell path {
  fill: #2e2e2e;
}

.arrow {
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #bdfbff;
  transition-duration: 0.2s;
}

.button:hover .arrow {
  animation: slide-right 0.6s ease-out both;
}
/* arrow animation */
@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.button:active {
  transform: translate(1px, 1px);
  transition-duration: 0.2s;
}

/* functions Section */
.functions-container {
  box-shadow: 0 0 8px rgba(53, 53, 53, 0.47);
  position: fixed;
  bottom: -28%;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  height: 33%;
  border-radius: 60px 60px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #71c6de;
  transition: all 0.5s cubic-bezier(1, 0.13, 0.31, 0.68);
  z-index: 10;
  overflow: hidden;
  backdrop-filter: blur(6px);
}

.functions-container:hover {
  bottom: 0;
  border-radius: 0;
}

.functions-container::before {
  content: "";
  position: absolute;
  width: 30%;
  padding: 2px;
  background-color: white;
  border-radius: 10px;
  top: 5%;
}

.funct {
  width: 180px;
  height: 180px;
  --angle: 45deg;
  background: linear-gradient(
    var(--angle),
    oklab(63% -0.05561 -0.10085),
    oklab(73.6% -0.092 -0.073)
  );
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.funct dotlottie-player {
  margin: 0 auto;
  display: block;
  width: 150px;
  height: 150px;
  fill: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
}

.funct.active::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  --angle: 45deg;
  background: linear-gradient(
    var(--angle),
    oklab(35.6% -0.036 -0.079),
    oklab(45.4% -0.045 -0.104),
    oklab(54.3% -0.055 -0.128),
    oklab(63.2% -0.063 -0.15)
  );
  background-size: 400% 400%;
  animation: borderMove 3s linear infinite;
  z-index: -2;
  border-radius: 10px;
  filter: blur(2px);
}

.funct:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #a4deeef2;
}

svg {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}

.funct h3 {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  /* margin-top: 5.5em; */
  z-index: 200;
}

.funct-name {
  line-height: 1;
  transition: transform 0.3s ease;
}

.funct:hover .funct-name {
  transform: translateY(50px);
}

.funct.active {
  background-color: #7082d4;
  transform: scale(1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Custom Loader */

.loader {
  width: 48px;
  height: 48px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}

.loader:before {
  content: "";
  width: 48px;
  height: 5px;
  background: #4c79b7cb;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #80aff0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

/* Mouse Trailer */
#trailer {
  position: fixed;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: #175d6ebc;
  border-radius: 20px;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}

#trailer ion-icon {
  width: 10px;
  color: #fff;
}

/* RESPONSIVENESS */

/* Medium screens (tablets) */
@media (max-width: 1024px) {
  .functions-container {
    display: flex;
    justify-content: space-evenly;
    bottom: -25%;
    align-items: center;
    gap: 10px;
    height: 30%;
    padding: 1.1em;
    border-radius: 30px 30px 0 0;
  }

  .funct {
    width: 150px;
    height: 150px;
  }

  svg {
    width: 50px;
    height: 50px;
  }

  .funct h3 {
    font-size: 0.9em;
  }

  nav ul {
    gap: 0.5em;
    padding: 0.1em 0;
  }

  nav .logo img {
    width: 90px;
  }

  nav li ion-icon {
    padding: 10px 18px;
    font-size: 1.2em;
  }

  .notif-icon {
    font-size: 2.6em;
    padding-left: 10px;
  }

  .notif-icon::before {
    width: 15px;
    height: 15px;
  }

  .logout-icon p {
    font-size: 0.6em;
  }
}

/* Small screens (phones) */
@media (max-width: 600px) {
  .functions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 0;
    height: auto;
    padding: 2em 1.3em;
    bottom: -34%;

    border-radius: 30px 30px 0 0;
    justify-items: center;
    align-items: center;
  }

  .funct {
    width: 90%;
    height: 100%;
  }

  svg {
    width: 60px;
    height: 60px;
  }

  .funct h3 {
    font-size: 0.9em;
  }

  nav ul {
    gap: 0.5em;
    padding: 0.1em 0;
  }

  nav .logo img {
    width: 80px;
  }

  nav li ion-icon {
    padding: 10px 22px;
    font-size: 1.2em;
  }

  .notif-icon {
    font-size: 2.6em;
    padding-left: 5px;
  }

  .notif-icon::before {
    width: 15px;
    height: 15px;
  }

  .logout-icon p {
    font-size: 0.6em;
  }
}

/* ====== Notification Areas ====== */
.notification {
  position: fixed;
  right: 2%;
  top: 15%;
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
  z-index: 9999;
  overflow: hidden;
  width: 100%;
  max-width: 24rem;
  background: transparent;
  pointer-events: auto;
}

.notification-inner {
  display: flex;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 0.5rem;
}

.notification-icon {
  flex-shrink: 0;
}

.notification-icon .icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #34d399;
}

.notification-text {
  padding-top: 0.125rem;
  margin-left: 0.75rem;
  flex: 1 1 0%;
  width: 0;
}

.title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #111827;
}

.subtitle {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6b7280;
}

.notification-action {
  display: flex;
  margin-left: 1rem;
  flex-shrink: 0;
}

.notification-action button {
  display: inline-flex;
  border-radius: 0.375rem;
  color: #9ca3af;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.notification-action button:hover {
  color: #6b7280;
}

.x-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.button.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #f3f3f3 !important;
}

.button.disabled:hover {
  background-color: #f3f3f3 !important;
  animation: none !important;
}

.button.disabled .arrow {
  animation: none !important;
}

.badge {
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
  background-color: #ef4444; /* red */
  color: white;
  border-radius: 999px;
  padding: 5px 7px;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1;
  min-width: 18px;
  text-align: center;
  z-index: 1;
  transition: all 0.3s ease;
}

.badge {
  display: none;
}

.background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  z-index: -1;
}

.bg-img-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background img {
  width: 800px;
  opacity: 0.6;
}

.background img:first-child {
  width: 450px;
  transform: translateY(-60px);
  margin-left: 35px;
}

.background img:last-child {
  transform: translateY(150px);
  margin-right: -16%;
}
