.clinic-container {
  position: relative;
  /* border: 1px solid blue; */
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.google-maps {
  width: 95%;
  height: 400px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
  margin-top: 40px;
  border-radius: 7px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.clinic-heading {
  /* border: 1px solid red; */
  align-self: flex-start;
  width: max-content;
  margin: 30px 60px;
}

.clinic-heading h2 {
  font-size: 3.3rem;
  color: #1d7087;
}

.find-clinic-btn {
  display: flex;
  position: relative;
  height: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  top: 20px;
  left: 20px;
}

.buttons button {
  width: 180px;
  height: 60px;
  background-color: #0c2b53;
  margin: 20px;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  padding: 0 100px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.buttons button:before,
.buttons button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #4acce9;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
  left: 0;
  bottom: 0;
}

.buttons button span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.buttons button span:before,
.buttons button span:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #4acce9;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:after {
  left: 0;
  bottom: 0;
}

.buttons button p {
  padding: 0;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.buttons button p:before,
.buttons button p:after {
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.buttons button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.buttons button p:after {
  content: attr(data-text);
  top: 150%;
  color: #ffffff;
  /* font-weight: 600; */
}

.buttons button:hover:before,
.buttons button:hover:after {
  width: 100%;
}

.buttons button:hover span {
  z-index: 1;
}

.buttons button:hover span:before,
.buttons button:hover span:after {
  height: 100%;
}

.buttons button:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}

.buttons button.start {
  background-color: #44b8d8;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.buttons button.start p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button.start p:after {
  color: white;
  transition: all 0s ease;
  content: attr(data-start);
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes start {
  from {
    top: -50%;
  }
}

.buttons button.start:hover:before,
.buttons button.start:hover:after {
  display: none;
}

.buttons button.start:hover span {
  display: none;
}

.buttons button:active {
  outline: none;
  border: none;
}

.buttons button:focus {
  outline: 0;
}

.search-box {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

#searchBox,
#manualLocation {
  display: none;
}

#searchBox {
  width: 40%;
  padding: 10px 16px;
  font-size: 1rem;
  border: 2px solid #0077b6;
  border-radius: 4px 15px 3px 15px;
  /* margin-top: 30px; */
  /* margin-bottom: 0; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#manualLocation {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 0 30px;
  width: 100%;
  height: 100%;
  gap: 10px;
  font-size: 1em;
  /* margin-top: 10px; */
}

#locationInput {
  width: 40%;
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 4px 15px 3px 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #0077b6;
}

.search-box button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 7px;
  border: none;
  background-color: #41b8d9;
  color: white;
  font-size: 1em;
  transition: all 0.4s ease;
}

.search-box button:hover {
  background-color: #1b92b3;
}

.clinic-list-container {
  position: relative;
  width: 100%;
  height: 80svh;
  background-color: transparent;
  backdrop-filter: blur(2px);
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.clinic-list {
  padding: 30px;
  overflow: auto;
}

.clinic-card {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  height: 200px;
  width: 100%;
  background: #c4f2ff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 2px solid #478b98;
}

#clinics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 20px;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  /* padding: 20px; */
}

.clinic-card .img-container {
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.img-container img {
  width: 350px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* border: 1px solid red; */
}

.clinic-info {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clinic-info h3 {
  /* font-size: 1.2em; */
  margin-top: 0;
  color: #09647e;
}

.clinic-info p {
  margin: 6px 0;
  font-size: 1em;
  color: #177f9c;
}

.icon {
  margin-right: 8px;
  color: #09647e;
}

@media (max-width: 1024px) {
  .clinic-list-container {
    padding: 0 0;
    gap: 10px;
  }
  #clinics {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 200px);
    gap: 10px;
    width: 100%;
    height: 100%;
  }
  .clinic-info {
    padding: 12px;
    flex-grow: 1;
  }

  .clinic-info h3 {
    font-size: 1em;
    margin-top: 0;
  }

  .clinic-info p {
    font-size: 0.7em;
    margin: 3px 0;
  }

  .icon {
    margin-right: 5px;
  }

  #searchBox {
    width: 50%;
  }

  #manualLocation {
    font-size: 0.8em;
  }

  #locationInput {
    width: 40%;
    padding: 9px 19px;
    font-size: 1rem;
  }

  #manualLocation button {
    padding: 12px 15px;
    font-size: 1em;
  }

  .clinic-container .img-container {
    width: 200px;
  }

  .img-container img {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .search-box {
    flex-direction: column;
  }

  #searchBox {
    width: 100%;
    border-radius: 6px;
  }

  #manualLocation {
    font-size: 0.75em;
    width: 100%;
    margin-bottom: 20px;
  }

  #locationInput {
    width: 40%;
    padding: 9px 19px;
    border-radius: 6px;
    font-size: 1rem;
  }

  #manualLocation button {
    padding: 12px 15px;
    font-size: 1em;
  }
}

.background-clinic {
  width: 100%;
  height: 100%;
  top: 4%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -1;
}

.background-clinic img {
  width: 1000px;
  opacity: 0.6;
}
